# Gradle project
.gradle/
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

#eclipse files
.classpath
.project
.settings/
src/main/webapp/META-INF/MANIFEST.MF
*.iml

#target folder
target/
.idea/
*.log
/bin/

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# App specific
*secrets.yaml
src/test/resources/build/*
data/
